@import '_variables.sass'

.openCart
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: $second_white
    border-radius: 10px
    width: 150px
    height: 150px
    
.openCart-image
    width: 80px
    height: 85px

.openCart-name
    font-family: $main_font
    text-align: center
    font-size: 0.7em

.openCart-prices
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px 10px
    font-family: $main_font
    font-size: 0.6em
    text-align: center

.openCart-prices
    span
        display: flex
        justify-content: center
        align-items: center
        width: 20px
        height: 20px
        border-radius: 40px
        background: $main_green
        color: $main_white

.openCart-buttons
    width: 55px
    height: 25px
    border: none
    border-radius: 5px
    background: $light_brown
    color: $light_grey
    margin: 5px
    font-family: $main_font
    font-size: 0.5em

.openCart-container--total
    font-family: $main_font
